REQUISITOS DEL SERVIDOR - VEHÍCULO AUTÓNOMO
============================================

SISTEMA OPERATIVO:
------------------
- Linux/Unix/macOS: Compilación nativa
- Windows: Requiere WSL (Windows Subsystem for Linux)

INSTALACIÓN DE WSL EN WINDOWS:
-------------------------------
1. Abrir PowerShell como Administrador
2. Ejecutar: wsl --install
3. Reiniciar computadora
4. Configurar Ubuntu (crear usuario y contraseña)
5. Instalar herramientas: sudo apt install build-essential

HERRAMIENTAS REQUERIDAS:
------------------------
- GCC (GNU Compiler Collection) >= 7.0
- Make
- pthread (POSIX Threads)
- Sockets Berkeley API

LIBRERÍAS DEL SISTEMA:
----------------------
- stdio.h
- stdlib.h
- string.h
- unistd.h
- pthread.h
- sys/socket.h
- sys/types.h
- netinet/in.h
- arpa/inet.h
- time.h
- errno.h
- signal.h

VERIFICAR INSTALACIÓN:
----------------------
gcc --version
make --version

COMPILAR:
---------
cd server
make

O MANUALMENTE : 
gcc -pthread -o server server.c vehicle.c -Wall
---------

EJECUTAR:
---------
./server 5000 logs/server.log

PUERTOS USADOS:
---------------
- TCP 5000: Comandos y autenticación
- UDP: Telemetría (se envía a los clientes)

NOTAS:
------
- Si estás en Windows y ves errores de "include", necesitas abrir
  el proyecto EN WSL usando VS Code con la extensión WSL instalada.
- En VS Code, presiona Ctrl+Shift+P y selecciona "WSL: Connect to WSL"


CORRER CLIENTE PYTHON: 

- Terminal 1:

Entrar a la carpeta del servidor:
cd server

Compilar el servidor:
---------

gcc -pthread -o server server.c vehicle.c -Wall

Ejecutar el servidor (puerto y ruta del log pueden variar):
---------

./server 5555 logs/server.log

- Terminal 2:

Activar el entorno virtual de Python (si existe):
---------

source .venv311/bin/activate
(en Windows usar: .venv311\Scripts\activate)

Entrar a la carpeta donde está el cliente:
cd client

Ejecutar el cliente Python:
---------

python3 client.py



CORRER SERVIDOR Y CLIENTE JAVA: 
---------

- Terminal 1:

Entrar a la carpeta del servidor:
cd server

Compilar el servidor con soporte UDP:
---------
gcc -pthread -o server server.c vehicle.c -Wall -DUDP_FALLBACK_PORT=5001

Ejecutar el servidor:
---------
./server 5555 logs/server.log

- Terminal 2:
Entrar a la carpeta donde están los archivos Java:
cd clients/java

Compilar el cliente Java:
---------
javac clients/java/Client.java


Ejecutar el cliente:
---------
java clients.java.Client
